.user {
    grid-column: 1/3;
    background-color: #4A4E69;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    padding: 20px;
    font-size: 30px;
}

.user-recipes img {
    height: 100px;
}

.user-recipes {
    display: flex;
    flex-direction: row-reverse;
    
}
 .user div {
     display: flex;
     align-items: center;
     margin-right: 20px;
 }